@import '../node_modules/@amsterdam/asc-assets/static/fonts/fonts.css';

body.framed {
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
